<div class="navigation__top-app-bar" ...attributes>
  <div class="navigation__top-app-bar__left">
    <TextAnchor
      @href="https://www.formula1.com/"
      @target="f1"
      class="navigation__top-app-bar__link">
      F1<sup>®</sup>
    </TextAnchor>
    <TextAnchor
      @href="http://www.fiaformula2.com/"
      @target="f2"
      class="navigation__top-app-bar__link">
      F2<sup class="tm">TM</sup>
    </TextAnchor>
    <TextAnchor
      @href="http://www.fiaformula3.com/"
      @target="f3"
      class="navigation__top-app-bar__link">
      F3<sup class="tm">TM</sup>
    </TextAnchor>
  </div>

  <div class="navigation__top-app-bar__right">
    <TextAnchor
      @href="https://www.f1authentics.com/"
      @target="f1-authentics"
      class="navigation__top-app-bar__link">
      {{t "navigation.authentics"}}
    </TextAnchor>
    <TextAnchor
      @href="https://f1store2.formula1.com/en/?_s=bm-fi-f1-prtsite-topnav-230720-jm"
      @target="f1-store"
      class="navigation__top-app-bar__link">
      {{t "navigation.store"}}
    </TextAnchor>
    <TextAnchor
      @href="https://tickets.formula1.com/en"
      @target="f1-tickets"
      class="navigation__top-app-bar__link">
      {{t "navigation.tickets"}}
    </TextAnchor>
    <TextAnchor
      @href="https://tickets.formula1.com/en/h-formula1-hospitality"
      @target="f1-hospitality"
      class="navigation__top-app-bar__link">
      {{t "navigation.hospitality"}}
    </TextAnchor>
    <TextAnchor
      @href="https://f1experiences.com/calendar-of-events"
      @target="f1-experiences"
      class="navigation__top-app-bar__link">
      {{t "navigation.experiences"}}
    </TextAnchor>
    <TextAnchor
      @href="https://f1tv.formula1.com/"
      @target="f1-tv"
      class="navigation__top-app-bar__link">
      <Logo @kind="formula-1" @name="tv" @alt="F1 TV Logo" class="navigation__top-app-bar__logo" />
    </TextAnchor>
  </div>
</div>

